In [16]:
import pandas as pd

In [17]:
dataframe = pd.read_csv('FoodBalance.csv' , encoding = 'latin-1')

In [19]:
print(dataframe)

       Area Code      Area  Item Code           Item  Element Code  \
0              4   Algeria       2501     Population           511
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014  \
0               Total Population - Both sexes     1000 persons  38924.00
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [4]:
# Highest and lowset for the year 2017
sorted(dataframe.groupby('Area')['Y2017'].sum())

[0.0,
 0.0,
 59.839999999999996,
 442.34000000000003,
 12662.630000000001,
 14650.74,
 19102.77,
 21267.96,
 22101.3,
 22729.91,
 23154.18,
 27979.64,
 29342.2,
 29874.89,
 29937.0,
 41181.68,
 49841.88,
 51114.83,
 54343.33,
 55311.33,
 71594.68,
 73663.69,
 75919.34,
 95681.15,
 98138.87,
 101855.06999999999,
 103223.77,
 124167.2,
 124771.22,
 126707.58,
 131197.73,
 149928.33,
 156665.46,
 161407.98,
 181098.71,
 213950.38,
 224599.01,
 229159.57,
 232030.43,
 239931.92,
 264660.66,
 322616.85,
 325644.27,
 337599.06,
 388495.36,
 448683.76,
 517590.54,
 866379.92,
 1483268.23]

In [5]:
S = [['him', 'sell'], [90, 28, 43]]
S[0][1][1]

'e'

In [6]:
my_tuppy = (1,2,5,8)

my_tuppy[2]=6

TypeError: 'tuple' object does not support item assignment

In [7]:
#Total number of of missing data in the year 2014
dataframe['Y2014'].isnull().sum()

1589

In [8]:
# total Protein supply qunatity in Madagascar in 2015.
dataframe['Y2015'].loc[(dataframe['Area']=='Madagascar') & (dataframe['Element']=='Protein supply quantity (g/capita/day)')].sum()

173.04999999999998

In [43]:
import numpy as np

array  = np.array([[94, 89, 63],

                   [93, 92, 48],

                   [92, 94, 56]])
array[:2,1:]

array([[89, 63],
       [92, 48]])

In [22]:
#Total sum of wine produced in 2015 and 2018.
dataframe[['Y2015','Y2018']].loc[(dataframe['Item'] == 'Wine')].sum()

Y2015    4251.81
Y2018    4039.32
dtype: float64

In [36]:
# Mean and standard deviation across the year 2017
dataframe['Y2017'].describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [30]:
# highest sum of stock Variation.

m = dataframe.groupby(['Element'])
m.first()

,Area Code,Area,Item Code,Item,Element Code,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,,,,
Domestic supply quantity,4,Algeria,2501,Population,5301,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Export Quantity,4,Algeria,2905,Cereals - Excluding Beer,5911,1000 tonnes,3.00,7.00,7.00,10.00,17.00
Fat supply quantity (g/capita/day),4,Algeria,2901,Grand Total,684,g/capita/day,80.06,79.36,77.40,80.19,77.28
Feed,4,Algeria,2905,Cereals - Excluding Beer,5521,1000 tonnes,4725.00,5070.00,4838.00,4667.00,5266.00
Food,4,Algeria,2905,Cereals - Excluding Beer,5142,1000 tonnes,8546.00,8729.00,9001.00,8941.00,9219.00
Food supply (kcal/capita/day),4,Algeria,2901,Grand Total,664,kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
Food supply quantity (kg/capita/yr),4,Algeria,2905,Cereals - Excluding Beer,645,kg,219.56,219.72,221.98,216.02,218.31
Import Quantity,4,Algeria,2905,Cereals - Excluding Beer,5611,1000 tonnes,12604.00,13983.00,13523.00,13039.00,13182.00
Losses,4,Algeria,2905,Cereals - Excluding Beer,5123,1000 tonnes,1084.00,1203.00,1148.00,1121.00,1253.00
Other uses (non-food),4,Algeria,2905,Cereals - Excluding Beer,5154,1000 tonnes,787.00,847.00,835.00,840.00,951.00
Processing,4,Algeria,2905,Cereals - Excluding Beer,5131,1000 tonnes,35.00,38.00,37.00,33.00,44.00
Production,4,Algeria,2905,Cereals - Excluding Beer,5511,1000 tonnes,3436.00,3761.00,3445.00,3478.00,6065.00
Protein supply quantity (g/capita/day),4,Algeria,2901,Grand Total,674,g/capita/day,94.90,94.35,94.72,92.82,91.83
Residuals,4,Algeria,2905,Cereals - Excluding Beer,5170,1000 tonnes,0.00,0.00,0.00,0.00,-8.00
Seed,4,Algeria,2905,Cereals - Excluding Beer,5527,1000 tonnes,177.00,189.00,197.00,202.00,278.00
Stock Variation,4,Algeria,2905,Cereals - Excluding Beer,5072,1000 tonnes,684.00,1663.00,905.00,705.00,2226.00
Total Population - Both sexes,4,Algeria,2501,Population,511,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
Tourist consumption,7,Angola,2913,Oilcrops,5171,1000 tonnes,0.00,0.00,0.00,0.00,0.00

In [34]:
#which year had the least correlation with Element Code. 
m = dataframe.groupby(['Element Code'])
m.max()

,Area Code,Area,Item Code,Item,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Element Code,,,,,,,,,,,
511,276,Zimbabwe,2501,Population,Total Population - Both sexes,1000 persons,176405.00,181137.00,185960.00,190873.00,195875.00
645,276,Zimbabwe,2961,Yams,Food supply quantity (kg/capita/yr),kg,428.27,418.21,419.48,433.38,443.56
664,276,Zimbabwe,2961,Yams,Food supply (kcal/capita/day),kcal/capita/day,3435.00,3454.00,3451.00,3457.00,3450.00
674,276,Zimbabwe,2961,Yams,Protein supply quantity (g/capita/day),g/capita/day,100.34,100.33,100.94,100.10,101.08
684,276,Zimbabwe,2961,Yams,Fat supply quantity (g/capita/day),g/capita/day,93.73,96.79,94.33,97.13,94.94
5072,276,Zimbabwe,2961,Yams,Stock Variation,1000 tonnes,4569.00,3418.00,3266.00,5089.00,2226.00
5123,276,Zimbabwe,2949,Yams,Losses,1000 tonnes,9807.00,9999.00,10432.00,10342.00,10355.00
5131,276,Zimbabwe,2948,Wine,Processing,1000 tonnes,18383.00,21609.00,21739.00,22174.00,22609.00
5142,276,Zimbabwe,2961,Yams,Food,1000 tonnes,49014.00,50705.00,52612.00,51220.00,54077.00
5154,276,Zimbabwe,2961,Yams,Other uses (non-food),1000 tonnes,12552.00,6001.00,6099.00,17219.00,17221.00
5170,276,Zimbabwe,2949,Yams,Residuals,1000 tonnes,16697.00,16136.00,18077.00,17476.00,17323.00
5171,193,Sao Tome and Principe,2949,Yams,Tourist consumption,1000 tonnes,62.00,48.00,6.00,6.00,6.00
5301,276,Zimbabwe,2961,Yams,Domestic supply quantity,1000 tonnes,108756.00,110798.00,116483.00,112625.00,117038.00
5511,276,Zimbabwe,2961,Yams,Production,1000 tonnes,109593.00,111663.00,119330.00,117702.00,118172.00
5521,276,Zimbabwe,2960,Yams,Feed,1000 tonnes,29797.00,30472.00,31607.00,29580.00,31567.00
5527,276,Zimbabwe,2960,Yams,Seed,1000 tonnes,1258.00,1352.00,1402.00,1453.00,1474.00
5611,276,Zimbabwe,2961,Yams,Import Quantity,1000 tonnes,19582.00,18824.00,19858.00,18627.00,18036.00
5911,276,Zimbabwe,2961,Yams,Export Quantity,1000 tonnes,39686.00,52578.00,35420.00,34641.00,34641.00